<a href="https://colab.research.google.com/github/De-Las-Alas/OOP-58001/blob/main/Fundamentals_of_Computation_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables - Python Variable is containers which store values.Python is not “statically typed”. We do not need todeclare variables before using them or declare theirtype. A variable is created the moment we first assigna value to it. A Python variable is a name given to amemory location.

Data Types - Data types are the classification or categorization ofknowledge items. It represents the type useful thattells what operations are often performed on specificdata. Since everything is an object in Pythonprogramming, data types are classes and variables areinstances (object) of those classes.

In [1]:
#Numbers
varNUM = 123
pi = 3.14159
#Strings
varString = "Hello World!"
varText = 'This is a string!'
#Lists
varList = ["abc", 123]
#Tuples
varTuple = ["abc", 123, "HELLO"]
#Dictionaries
var = 3
varDict = {'first':1, "2":"2nd", 3:var}
varDict = {}
varDict['first'] = 1
varDict["2"] = "2nd"
varDict[3] = var

Arithmetic

In [ ]:
#addition
a = 5 + 3
#subtraction
b = 5 - 3
#multiplication
c = 5 * 3
#exponent
d = 5 ** 3
#division
e = 5 / 3
f = 5 % 3
g = 5 // 3
#increment/decrement
h = 5
h += 3
i = 5
i -= 3
#string concatenation
j = 'Hello' + "World!"
#complex expressions
k = 3 + 5 - 6 * 2 / 4

Functions

In [22]:
pow(10,2)
array = ["apple", "banana", "orange"]
array.insert(0, "cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

In [23]:
def remainder (n,m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m
remainder (10,4)

2

In [11]:
class shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle = shapes(10,5)
rectangle.area()

50

In [12]:
class shapes:
  def __init__(self,side):
    self.side = side
  def arearec(self):
    return self.length * self.width
  def areasqr(self):
    return self.side**2
square = shapes(5)
square.areasqr()

25

Create your own function that will show your name and age.
Use  person as a class name

In [21]:
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def name_age(self):
    return self.name + self.age

individual = person("Reuben Jonn De Las Alas, ", "20 yrs old.")
individual.name_age()

'Reuben Jonn De Las Alas, 20 yrs old.'

Lists

In [29]:
pi = 3.14159
varList = [1, 2, 'A', "b", 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append("World!")
print(varList[6])

len(varList)

1
Hello!
World!

7

In [28]:
pi = 3.14159
varList = [1, 2, 'A', "b", 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append("World!")
print(varList[6])

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

In [30]:
pi = 3.14159
varList = ["abc", 1, "def", 2]
print(varList[0])

varList.append('gho')
print(varList)

varList.remove(2)
print(varList)

varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'gho']
['abc', 1, 'def', 'gho']
['abc', 1, 'def', 3, 'gho']

Dictionaries

In [31]:
students = {
    1: "Annie",
    2: "Ruru",
    3: "Reunette",
    4: "Junette"
}
print(students)

{1: 'Annie', 2: 'Ruru', 3: 'Reunette', 4: 'Junette'}

In [32]:
#redunduncy
students = {
    1: "Annie",
    2: "Ruru",
    3: "Reunette",
    4: "Junette",
    3: "Benette"
}
print(students)

{1: 'Annie', 2: 'Ruru', 3: 'Benette', 4: 'Junette'}