<a href="https://colab.research.google.com/github/De-Las-Alas/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Python

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [ ]:
#this is a comment
print("Hello World!")

Hello World!

Python Variable

In [ ]:
#Single variable with multiple values
array = [1,2,3]
print(array)

#Multiple variables with single value
a= b= c= "Maria"
print(a)
print(b)
print(c)
print(a,b,c)

[1, 2, 3]
Maria
Maria
Maria
Maria Maria Maria

Casting

In [1]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [ ]:
c= "sally"
d= 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

"Double Quotes" or 'Single Quotes'

In [2]:
y = "John"
x = 'john'

print(y)
print(x)

John
john

Case Sensitive

In [3]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)

4

Output Variables

In [6]:
#the python print is used to out put variables and + is used to combine both text and variable
x = "fun!"
print("Python programming is " + x)

z = "Python is "
print(z+x)

Python programming is fun!
Python is fun!

Arithmetic Operations

In [8]:
x = 5
y = 3
print(x+y)

sum=x+y

sum

8

8

Assignment Operators

In [9]:
a, b, c = 0, -1, 6
c %= 3
c

0

Comparison & Logical Operators

In [10]:
a, b, c = 0, -1, 6
a > b and c > b
True

True

Identity Operators

In [11]:
a, b, c = 0, -1, 5
a is c
False

False

Input Numerical Method

In [ ]:
n= input (int())
print(n)

012
12