<a href="https://colab.research.google.com/github/De-Las-Alas/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Looping Control Statement - #insert defenition here

For Loop

In [ ]:
week_to_an_adventist = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week_to_an_adventist: print(x)

Sunday
Monday
Teusday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week_to_an_adventist = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week_to_an_adventist:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Teusday
Wednesday
Thursday

Break Statement single output

In [ ]:
week_to_an_adventist = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week_to_an_adventist:
  if x == "Thursday":
    print(x)
    break

Thursday

Break Statement stopper condition

In [ ]:
week_to_an_adventist = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week_to_an_adventist:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Teusday
Wednesday

Break statement two outputs

In [ ]:
week_to_an_adventist = ["Sunday", "Monday", "Teusday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week_to_an_adventist:
  if x == "Teusday":
    print(x)
  if x == "Wednesday":
    print(x)
    break

Teusday
Wednesday

Loop through a string

In [ ]:
for x in "REUBEN JONN DE LAS ALAS":
    print(x)

R
E
U
B
E
N

J
O
N
N

D
E

L
A
S

A
L
A
S

Nested Loop

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["cherry", "melons", "peach"]

for x in adjective:
  for y in fruits:
    print(x,y)

red cherry
red melons
red peach
big cherry
big melons
big peach
tasty cherry
tasty melons
tasty peach

In [ ]:
#Dungeons & Dragons Alignment version
Line = ["Lawful", "Neutral", "Chaotic"]
Process = ["Good", "Neutral", "Evil"]

for x in Line:
  for y in Process:
    print(x,y)

Lawful Good
Lawful Neutral
Lawful Evil
Neutral Good
Neutral Neutral
Neutral Evil
Chaotic Good
Chaotic Neutral
Chaotic Evil

While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 assignment operator

1
2
3
4
5

In [ ]:
i = 1
while i <= 6: #while i is less than or equal to 6
  print(i)
  i += 1 #i = i+1 assignment operator

1
2
3
4
5
6

In [ ]:
i = 1
while i < 6:
  i += 1 #i = i+1 assignment operator
  print(i) #will start from 2 and end at 6

2
3
4
5
6

While loop om break statement

In [ ]:
i = 1
while 1 < 6:
  print(i) #prints first before incrementation
  if i == 3: #checks if condition is met before breaking or incrementing
    break #if met, breaks instead of incrementation
  i += 1

1
2
3

In [ ]:
#condition = singular out put
i = 1
while 1 < 6:
  if i == 3: #checks if condition is met before printing, then breaking or incrementing
    print(i) #prints upon condition being met
    break #if met, breaks instead of incrementation
  i += 1 #process is not shown

3

while else statement

In [ ]:
i = 1
while i < 6:
  print(i) #will start from 2 and end at 6
  i += 1 #i = i+1 assignment operator
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application #1

Display 0 to 10 with "Hello #" repeat

In [ ]:
i = 0
while i <= 10:
  print("Hello ", i)
  i += 1

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

In [ ]:
#other take; longer
greet = ["Hello"]
number = [0,1,2,3,4,5,6,7,8,9,10]

for x in greet:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application #2
display 3 - 9 via loop

In [ ]:
i = 3
while i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9

In [ ]:
i = [3,4,5,6,7,8,9]
for x in i:
  print(x)

3
4
5
6
7
8
9

Range()function

In [2]:
#one index for range
for x in range(6):
  print(x)

0
1
2
3
4
5

In [3]:
#with starting index and increment
for x in range(2,6):
  print(x)

2
3
4
5

In [4]:
#with index, increment, and step
for x in range(2,6,2):
  print(x)

2
4